{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <p class="text-center main-sub-title">Question <b style="font-size: 2rem">{{ questionNumber }}</b></p>

        <div class="d-flex justify-content-between w-100">
            <h2>{{ speciesA }}</h2>
            <h2>{{ speciesB }}</h2>
        </div>
        {{ form(form) }}
    </div>
{% endblock %}
