{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a href="{{ path('dashboard') }}">General average</a>

        <h1>Results</h1>

        <p>You can see the results below, as the aim is not to keep any user data, we recommand you to keep the url in order to access your results.</p>
        <p>In a privacy-respect way of developing applications, your results are also stored anonymously.</p>

        {{ render_chart(chart) }}

        <div class="d-flex mt-5">
            <a class="text-center m-auto btn" href="{{ path('home') }}">Back to home</a>
        </div>
    </div>
{% endblock %}
