{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a href="{{ path('home') }}">Home</a>

        <h1>General average</h1>

        <p>This chart is a compilation of all sent data.</p>

        <p>The project currently has <b>{{ total }}</b> answers.</p>

        {{ render_chart(chart) }}

        <div class="d-flex mt-5">
            <a class="text-center m-auto btn" href="{{ path('home') }}">Back to home</a>
        </div>
    </div>
{% endblock %}
